/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
h1{
	text-align:left;
}
#outer{
	padding:15px;
	background-color:#f5f5f5;
}
#inner_1,#inner_2{
	padding:10px;
	background-color:#fff;
	margin:10px;
	border:1px solid black;
}
#auther1,#auther2{
	text-align:right;
	font-style:italic;
}